.wd-home-flex-column-container {
    /* display: flex;
    flex-direction: column; */
}

.wd-home-flex-row-container {
    display: flex;
    flex-direction: row;
}

.banner {
    margin-top: 30px;
    margin-left: 30px;
    text-wrap: nowrap;
}

.banner i {
    color:red;
    vertical-align: middle;
    margin-top: -3px;
}

.banner nav {
    text-wrap:nowrap;
}

.banner a {
    color: red;
    text-decoration: none;
}

.course-buttons button.regular {
    display: inline;
    background-color: #D3D3D3;
    color: black;
}

/* .course-buttons button.module{
    display: inline;
    background-color: red;
    color: white;
} */

.course-buttons select {
    display: inline;
    background-color: #D3D3D3;
    color: black;
}

.module-content {
    margin-left: 20px;
    margin-top: 20px;
    width: 900px;
}

.module-content a {
    text-decoration: none;
    color: red;
}

.course-status-buttons {
    /* padding-left: 40px; */
    margin-left: 20px;
    width: 250px;
    /* margin-top: 20px; */
}

.course-status-buttons button.regular {
    display: inline;
    background-color: #D3D3D3;
    color: black;   
}

.course-status-buttons button.published {
    display: inline;
    background-color: #53d475;
    color: white;   
}

.course-status-buttons ul {
    list-style: none
}


